<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <property name="USER_HOME" value="${user.home}"/>
    <property name="LOG_DIR" value="${USER_HOME}/.expense_tracker"/>
    <property name="LOG_FILE" value="${LOG_DIR}/expense-tracker.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex{full}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/expense-tracker.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="io.vekzz_dev.expense_tracker" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
